@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}
html, body, #root { height: 100%; margin: 0; }
body { background: #0b0f16; color: #e5e7eb; font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; }
button { cursor: pointer; }
@keyframes fade-in { from { opacity: 0; transform: translateY(10px);} to { opacity:1; transform: translateY(0);} }
.animate-fade-in { animation: fade-in .3s ease-out; }
.animate-pulse-slow{animation:pulse 2.2s ease-in-out infinite;}

@keyframes breathFast { 0%{opacity:.65} 50%{opacity:1} 100%{opacity:.65} }
.animate-breath-fast { animation: breathFast 1.1s ease-in-out infinite; }

/* simulación de brillo neón */
.neon-red { box-shadow: 0 0 14px rgba(255, 0, 64, .65); }
.neon-green { box-shadow: 0 0 14px rgba(0, 255, 127, .65); }
